.Root.disabled {
  opacity: var(--vkui--opacity_disable_accessibility, 0.64);
}

.WeekName {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}

.Day {
  text-align: center;
  margin-bottom: 8px;
}

.Month {
  text-align: center;
}

.Counter {
  position: absolute;
  top: 0.25em;
  right: 0;
}

@media (max-width: 767px) {
  .Root {
    padding-left: 4px;
    padding-right: 4px;
  }
}
