.Root {
  overflow: auto;
}

.Title {
  position: relative;
  padding: 8px;
  text-align: center;
  text-transform: capitalize;
}

.List {
  overflow: auto;
}

.Image {
  display: block;
  margin: 0 auto;
  width: 50vh;
  height: 50vh;
  padding-top: 5%;
}
