@media (max-width:340px){
    .Lesson {
        font-size: 14px !important;
    }
    .Aud {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .Line {
        right: 10% !important;
    }
   
}

@media (min-width:340px) and (max-width: 540px){
    .Lesson {
        font-size: 14px !important;
    }
    .Aud,.Name,.Teacher {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width:540px) and (max-width: 740px){
    .Lesson {
        font-size: 18px !important;
    }
    .Aud {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width:740px) and (max-width: 1024px){
    .Lesson {
        font-size: 22px !important;
    }
}
@media (min-width:1024px){
    .Lesson {
        font-size: 28px !important;
    }
}






.Lesson {
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d3d9de;
    margin-top: 8px;
    font-size: 12px;
    background-color: white;
    display: grid;
    grid-template-rows:  1fr 2fr 1fr; /*  строки */
    grid-template-columns: 1fr 2fr 3fr 1fr; /*  столбцы */
    grid-template-areas:    "Rect Type Aud Time"  
                            "Description Description Description Time"  
                            "Description Description Description Time";
}
.Lesson:hover {

    box-shadow: 0.25px 0.5px 1.5px 1.5px #2975cc;
}



.Rect {
    grid-area: Rect;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-width: 5%; 
    width: 50%;
    height: 100%; 
    min-height: 100%; 
}
.Number {
    font-size: 1em;
    font-weight: 800;
}


.Aud {
    grid-area: Aud;
    justify-self: start;
    display: flex;
    align-items: center;
    max-width: 100%;
    font-size: 0.9em;
    font-weight: 700;
}
.Aud span{
    margin-left: 5px;
}


.Type {
    grid-area: Type;
    font-size: 0.8em;
    font-weight: 700;
}


.Time{
    grid-area: Time;
    justify-self: center;
    display: grid;
    grid-template-rows:  auto 1fr auto;     /*  строки */
    grid-template-columns: 1fr;             /*  столбцы */
    grid-template-areas:    "Start"  
                            "Line"  
                            "End";
}
.Start {
    grid-area: Start;
    justify-self: end;
    font-size: 0.9em;
    font-weight: 700;
}
.Line {
    grid-area: Line;
    justify-self: center;
    width: 1px; 
}
.End{
    grid-area: End;
    justify-self: end;
    font-size: 0.9em;
    font-weight: 700;
}


.Description{
    grid-area: Description;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.Name{
    display: flex;
    align-items: center;
    font-size: 0.9em;
    font-weight: 700;
}
.Name span{
    margin-left: 5px;
}
.Teacher{
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 500;
}
.Teacher span {
    margin-left: 5px;
}


