@media (max-width:340px){
    .Lesson {
        font-size: 14px !important;
    }
    .Aud,.Name,.Teacher {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .Line {
        right: 10% !important;
    }
   
}

@media (min-width:340px) and (max-width: 540px){
    .Lesson {
        font-size: 14px !important;
    }
    .Aud,.Name,.Teacher {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width:540px) and (max-width: 740px){
    .Lesson {
        font-size: 18px !important;
    }
    .Aud {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media (min-width:740px) and (max-width: 1024px){
    .Lesson {
        font-size: 22px !important;
    }
}
@media (min-width:1024px){
    .Lesson {
        font-size: 28px !important;
    }
}






.Lesson {
    border: 1px solid #2975cc;
    border-radius: 5px;
    box-sizing:border-box;
    box-shadow: 0.25px 0.5px 1.5px 0.5px #2975cc;
    margin: 5px;
    min-height: 12vh;
    position: relative;
    font-size: 12px;
}
.Lesson:hover {
    border: 1px solid #2975cc;
    border-radius: 5px;
    box-sizing:border-box;
    box-shadow: 0.25px 0.5px 1.5px 1.5px #2975cc;
    margin: 5px;
}



.Aside {
    display: flex; 
    margin: 0px;
    padding: 0px;
    justify-content: flex-end;
}

.Aside button {
    font-size: 10px;
    border: 2px;
    box-sizing:border-box;
    border-radius: 4px;
    line-height: 5px;
    font-weight: 500;
    padding: 5px 5px;
    color: #00C0FF ;
}

.Lesson span {
    position: absolute;
}

.Aud, .Number, .Type, .Start{
    top:0;
}

.Aud {
    width: 40%;
    left: 45%;
    font-size: 0.9em;
    font-weight: 700;
}

.Number {
    width: 10%;
    font-size: 1em;
    font-weight: 800;
}

.Type {
    left:10%;
    font-size: 0.8em;
    font-weight: 700;
}

.Start {
    right: 5%;
    font-size: 0.9em;
    font-weight: 700;
}

.End{
    bottom:0;
    right: 5%;
    font-size: 0.9em;
    font-weight: 700;
}
.Name{
    top:25%;
    left: 10%;
    width: 75%;
    font-size: 0.9em;
    font-weight: 700;
}

.Teacher{
    top: 50%;
    left: 10%;
    font-size: 0.8em;
    font-weight: 500;
}

.Line {
    position: absolute;
    right: 9%;
    width: 1px; 
    height: 65%; 
}

.Rect {
    position: absolute;
    border-radius: 5px;
    top:0;
    transform: translateX(-5px);
    
    width: 5%; 
    height: 25%; 
    z-index: -2;
}