@media (max-width: 340px) {
  .Lesson {
    font-size: 12px !important;
  }
  .Aud {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Line {
    right: 10% !important;
  }
}

@media (min-width: 340px) and (max-width: 540px) {
  .Lesson {
    font-size: 14px !important;
  }
}
@media (min-width: 540px) and (max-width: 740px) {
  .Lesson {
    font-size: 18px !important;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .Lesson {
    font-size: 22px !important;
  }
}
@media (min-width: 1024px) {
  .Lesson {
    font-size: 28px !important;
  }
}

.Lesson {
  border-radius: 4px;
  box-shadow: 0 0.5px 0 0 #d3d9de;
  margin-top: 8px;
  font-size: 12px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr auto; /*  строки */
  grid-template-columns: 1fr 0.25fr 5fr; /*  столбцы */
  grid-template-areas:
    'Time Line Type '
    'Time Line Description '
    'Time Line Description '
    'Time Line Description '
    'Pagination Pagination Pagination ';
}

.Type {
  grid-area: Type;
  justify-self: center;
  font-size: 0.8em;
  font-weight: 700;
  border-bottom: 2px solid;
  border-radius: 5px;
}

.Time {
  grid-area: Time;
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; /*  строки */
  grid-template-columns: 1fr; /*  столбцы */
  grid-template-areas:
    'Start'
    'Rect'
    'End';
}

.Start {
  grid-area: Start;
  justify-self: end;
  font-size: 0.9em;
  font-weight: 700;
  transition: 0.5s ease-in;
}
.Rect {
  grid-area: Rect;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  min-width: 5%;
  width: 80%;
  height: 80%;
  min-height: 80%;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
.Number {
  font-size: 1em;
  font-weight: 700;
}
.End {
  grid-area: End;
  justify-self: end;
  align-self: flex-end;
  font-size: 0.9em;
  font-weight: 700;
  transition: 0.5s ease-in;
}
.Line {
  grid-area: Line;
  width: 1px;
}

.Description {
  grid-area: Description;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.Aud {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-weight: 700;
}
.Aud span {
  margin-left: 5px;
}
.Name {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-weight: 700;
}
.Name span {
  margin-left: 5px;
}
.Teacher {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: 500;
}
.Teacher span {
  margin-left: 5px;
}

.Pagination {
  grid-area: Pagination;
  justify-self: center;
}
.Pagination div {
  width: 0.4em;
  height: 0.4em;
  margin: 0.1em;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 50%;
}
.Active {
  background-color: #2975cc;
}

.CurrentLesson {
  box-shadow: 0.25px 0.5px 1px 1px #2975cc;
}
.CurrentLesson .Time {
  border-right: 2px solid;
  border-left: 2px solid;
  border-radius: 5px;
}
