.List{
    padding-bottom: 76px; /* высота fixed-layout */
}

.TabsItem{
    min-width: 0 !important;
}



.TypeWeek{
    position: absolute;
    font-size: small;
    top: 0;
}
.TypeWeekTop{
    left: 0;
}
.TypeWeekBottom{
    right: 0;
}