.List{
    padding-bottom: 76px; /* высота fixed-layout */
}

.TabsItem{
    min-width: 0 !important;
}

.Title{
    position: relative; 
    padding: 8px;
    text-align: center; 
    background-color: #FFFFFF; 
}

.TypeWeek{
    position: absolute;
    display: flex;
    align-items: center;
    font-size: small;
    right: 0;
}
.TypeWeekTop{
    top: 0;
}
.TypeWeekBottom{
    bottom: 0;
}